In [1]:
import pandas as pd
import numpy as np

In [2]:
fy17_html_path = "Resources/FY17_Data.xlsx"

fy17_df = pd.read_excel(fy17_html_path)
fy17_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,REFILE,ORIG_FILE_DATE,ORIG_CASE_NO,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FW_INFO_TRAINING_COMP,FW_INFO_REQ_EXPERIENCE,FW_INFO_ALT_EDU_EXPERIENCE,FW_INFO_REL_OCCUP_EXP,PREPARER_INFO_EMP_COMPLETED,PREPARER_INFO_TITLE,EMPLOYER_DECL_INFO_TITLE,NAICS_US_CODE,NAICS_US_TITLE,PW_Job_Title_9089
0,A-16243-47818,2016-10-03,Withdrawn,2016-10-03,N,NaT,NaN,N,XAVIENT INFORMATION SYSTEMS,"2125 MADERA ROAD, SUITE B",...,A,N,Y,Y,N,Attorney,Human Resources Manager,541511,Custom Computer Programming Services,"Software Developers, Applications"
1,A-16274-58094,2016-10-03,Withdrawn,2016-10-03,N,NaT,NaN,N,MARVELL SEMICONDUCTOR INC,5488 MARVELL LANE,...,A,A,A,A,N,Attorney,minhmnn@marvell.com,334413,Semiconductor and Related Device Manufacturing,"Electronics Engineers, Except Computer"
2,A-16273-57601,2016-10-03,Withdrawn,2016-09-29,N,NaT,NaN,N,"MUY BRANDS, LLC",17890 BLANCO RD.,...,A,A,A,A,N,Attorney,Chief Legal Officer,722513,Limited-Service Restaurants,"Combined Food Preparation and Serving Workers,..."
3,A-16271-56548,2016-10-03,Withdrawn,2016-09-27,N,NaT,NaN,N,CORPORATE COMPUTER SERVICES INC,24155 DRAKE ROAD,...,A,Y,A,Y,N,Attorney,HR Director,54151,Computer Systems Design and Related Services,"Software Developer, Applications"
4,A-16209-36199,2016-10-03,Withdrawn,2016-09-08,N,NaT,NaN,N,"SEVEN SEAS TECHNOLOGIES, INC.",720 SPIRIT 40 PARK DRIVE,...,A,N,Y,N,Y,NaN,Immigration Manager,541512,Computer Systems Design Services,Sr. Programmer Analyst

In [5]:
fy17_df['COUNTRY_OF_CITIZENSHIP'].unique()

array(['INDIA', 'CHINA', 'SOUTH KOREA', 'PAKISTAN', 'CANADA', 'TAIWAN',
       'VENEZUELA', 'NEPAL', 'SWEDEN', 'MEXICO', 'JORDAN', 'RUSSIA',
       'PERU', 'BAHAMAS', 'MONGOLIA', 'UKRAINE', 'UNITED KINGDOM',
       'PHILIPPINES', 'ROMANIA', 'CZECH REPUBLIC', 'MALAYSIA', 'FINLAND',
       'AUSTRALIA', 'SOUTH AFRICA', 'GHANA', 'VIETNAM', 'COLOMBIA',
       'TURKEY', 'GERMANY', 'BRAZIL', 'IRAN', 'JAPAN', 'INDONESIA',
       'IRELAND', 'SPAIN', 'UZBEKISTAN', 'THAILAND', 'BULGARIA', 'ITALY',
       'GEORGIA', 'KAZAKHSTAN', 'BOLIVIA', 'EL SALVADOR', 'MACAU',
       'NORWAY', 'HONG KONG', 'ARGENTINA', 'FRANCE', 'HUNGARY', 'BELARUS',
       'PARAGUAY', 'SYRIA', 'ISRAEL', 'DOMINICAN REPUBLIC', 'PORTUGAL',
       'SINGAPORE', 'UNITED STATES OF AMERICA', 'EGYPT', 'CYPRUS',
       'ZIMBABWE', 'BANGLADESH', 'KENYA', 'ZAMBIA', 'POLAND',
       'COSTA RICA', 'BOTSWANA', 'HONDURAS', 'SRI LANKA', 'SERBIA',
       'NIGERIA', 'ECUADOR', 'SINT MAARTEN', 'NETHERLANDS', 'GREECE',
       'SWITZERLAND', 'BELGIUM', 'ALBANIA', 'URUGUAY', 'NICARAGUA',
       'ALGERIA', 'ARMENIA', 'TOGO', 'LIBYA', 'AUSTRIA', 'DENMARK',
       'JAMAICA', 'MACEDONIA', 'BARBADOS', 'AFGHANISTAN', 'UGANDA',
       'RWANDA', 'TANZANIA', 'GUATEMALA', 'HAITI',
       'BOSNIA AND HERZEGOVINA', 'CHILE', 'MOLDOVA', 'CAMBODIA',
       'ST VINCENT', 'MONTENEGRO', 'GUINEA', 'CAMEROON', 'ETHIOPIA',
       'NEW ZEALAND', 'BURMA (MYANMAR)', 'MOROCCO', 'LEBANON',
       'TRINIDAD AND TOBAGO', 'YEMEN', 'DEMOCRATIC REPUBLIC OF CONGO',
       'BELIZE', 'ICELAND', 'SAUDI ARABIA', 'CROATIA', 'MALAWI', 'BENIN',
       'SENEGAL', 'PANAMA', 'SUDAN', 'SLOVENIA', 'PALESTINE', 'BRUNEI',
       'GUYANA', 'AZERBAIJAN', 'LITHUANIA', 'LUXEMBOURG', 'MAURITIUS',
       'DOMINICA', 'TUNISIA', 'KUWAIT', 'GRENADA', 'BHUTAN',
       'ST KITTS AND NEVIS', 'SLOVAKIA', 'ST LUCIA', 'LAOS', 'FIJI',
       'ERITREA', 'ANGOLA', 'SURINAME', 'MADAGASCAR', 'VANUATU',
       'ESTONIA', 'KYRGYZSTAN', 'SERBIA AND MONTENEGRO', "COTE d'IVOIRE",
       'LATVIA', 'LIBERIA', 'IRAQ', 'TURKMENISTAN', 'CHAD',
       'BURKINA FASO', nan, 'OMAN', 'REPUBLIC OF CONGO',
       'UNITED ARAB EMIRATES', 'GAMBIA', 'TAJIKISTAN', 'CAPE VERDE',
       'BAHRAIN', 'LIECHTENSTEIN', 'SWAZILAND', 'MALI', 'CUBA', 'NIGER',
       'SEYCHELLES', 'IVORY COAST', 'KOSOVO', 'GUINEA-BISSAU',
       'ANTIGUA AND BARBUDA', 'MALTA', 'ANDORRA', 'MALDIVES',
       'SAINT VINCENT AND THE GRENADINES', 'PALESTINIAN TERRITORIES',
       'NAMIBIA', 'GABON', 'BERMUDA'], dtype=object)

In [59]:
fy17_df.columns

Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'CASE_RECEIVED_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'ORIG_CASE_NO', 'SCHD_A_SHEEPHERDER',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FW_INFO_TRAINING_COMP', 'FW_INFO_REQ_EXPERIENCE',
       'FW_INFO_ALT_EDU_EXPERIENCE', 'FW_INFO_REL_OCCUP_EXP',
       'PREPARER_INFO_EMP_COMPLETED', 'PREPARER_INFO_TITLE',
       'EMPLOYER_DECL_INFO_TITLE', 'NAICS_US_CODE', 'NAICS_US_TITLE',
       'PW_Job_Title_9089'],
      dtype='object', length=125)

In [60]:
fy17_df2 = fy17_df[['CASE_NUMBER','DECISION_DATE','CASE_STATUS','CASE_RECEIVED_DATE','EMPLOYER_NAME','EMPLOYER_CITY',
                   'EMPLOYER_STATE','EMPLOYER_POSTAL_CODE','EMPLOYER_NUM_EMPLOYEES','AGENT_FIRM_NAME','AGENT_CITY',
                   'AGENT_STATE','PW_SOC_CODE','PW_SOC_TITLE','PW_AMOUNT_9089','WAGE_OFFER_FROM_9089','WAGE_OFFER_UNIT_OF_PAY_9089',
                   'JOB_INFO_WORK_CITY','JOB_INFO_WORK_STATE','JOB_INFO_WORK_POSTAL_CODE','JOB_INFO_JOB_TITLE',
                   'JOB_INFO_EDUCATION','JOB_INFO_EDUCATION_OTHER','FOREIGN_WORKER_INFO_CITY','FOREIGN_WORKER_INFO_STATE',
                   'FW_INFO_POSTAL_CODE','COUNTRY_OF_CITIZENSHIP','FW_INFO_BIRTH_COUNTRY','CLASS_OF_ADMISSION','FOREIGN_WORKER_INFO_EDUCATION','FW_INFO_EDUCATION_OTHER']]

fy17_df2.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-16243-47818,2016-10-03,Withdrawn,2016-10-03,XAVIENT INFORMATION SYSTEMS,SIMI VALLEY,CA,93065,225.0,Global Immigration Partners,...,Master's,NaN,PLEASANT GROVE,UT,84062,INDIA,INDIA,H-1B,Bachelor's,NaN
1,A-16274-58094,2016-10-03,Withdrawn,2016-10-03,MARVELL SEMICONDUCTOR INC,SANTA CLARA,CA,95054,2000.0,"Epstein Becker & Green, P.C.",...,Master's,NaN,SAN JOSE,CA,95133,CHINA,CHINA,H-1B,Master's,NaN
2,A-16273-57601,2016-10-03,Withdrawn,2016-09-29,"MUY BRANDS, LLC",SAN ANTONIO,TX,78232,2027.0,GIBS A Professional Law Corporation,...,None,NaN,SEOUL,NaN,08634,SOUTH KOREA,SOUTH KOREA,NaN,None,NaN
3,A-16271-56548,2016-10-03,Withdrawn,2016-09-27,CORPORATE COMPUTER SERVICES INC,FARMINGTON HILLS,MI,48335,148.0,Dehai Tao P.C.,...,Master's,NaN,COPLEY,OH,44321,INDIA,INDIA,H-1B,Master's,NaN
4,A-16209-36199,2016-10-03,Withdrawn,2016-09-08,"SEVEN SEAS TECHNOLOGIES, INC.",CHESTERFIELD,MO,63005,125.0,NaN,...,Master's,NaN,DES MOINES,IA,50315,INDIA,INDIA,H-1B,Bachelor's,NaN

In [61]:
# The wage columns are objects need to convert to floats
fy17_df2.dtypes

CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                           object
WAGE_OFFER_FROM_9089                     object
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
dtype: object

In [62]:
# removed comma from wage numbers but kept decimal
cols = ['PW_AMOUNT_9089','WAGE_OFFER_FROM_9089']

fy17_df2[cols] = fy17_df2[cols].replace({',': ''}, regex=True)

In [63]:
# Converted the two wage columns to floats
fy17_df2['PW_AMOUNT_9089'] = pd.to_numeric(fy17_df2['PW_AMOUNT_9089'])
fy17_df2['WAGE_OFFER_FROM_9089'] = pd.to_numeric(fy17_df2['WAGE_OFFER_FROM_9089'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [64]:
# Checked to make sure they were changed to floats
fy17_df2.dtypes

CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
dtype: object

In [65]:
fy17_df2.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-16243-47818,2016-10-03,Withdrawn,2016-10-03,XAVIENT INFORMATION SYSTEMS,SIMI VALLEY,CA,93065,225.0,Global Immigration Partners,...,Master's,NaN,PLEASANT GROVE,UT,84062,INDIA,INDIA,H-1B,Bachelor's,NaN
1,A-16274-58094,2016-10-03,Withdrawn,2016-10-03,MARVELL SEMICONDUCTOR INC,SANTA CLARA,CA,95054,2000.0,"Epstein Becker & Green, P.C.",...,Master's,NaN,SAN JOSE,CA,95133,CHINA,CHINA,H-1B,Master's,NaN
2,A-16273-57601,2016-10-03,Withdrawn,2016-09-29,"MUY BRANDS, LLC",SAN ANTONIO,TX,78232,2027.0,GIBS A Professional Law Corporation,...,None,NaN,SEOUL,NaN,08634,SOUTH KOREA,SOUTH KOREA,NaN,None,NaN
3,A-16271-56548,2016-10-03,Withdrawn,2016-09-27,CORPORATE COMPUTER SERVICES INC,FARMINGTON HILLS,MI,48335,148.0,Dehai Tao P.C.,...,Master's,NaN,COPLEY,OH,44321,INDIA,INDIA,H-1B,Master's,NaN
4,A-16209-36199,2016-10-03,Withdrawn,2016-09-08,"SEVEN SEAS TECHNOLOGIES, INC.",CHESTERFIELD,MO,63005,125.0,NaN,...,Master's,NaN,DES MOINES,IA,50315,INDIA,INDIA,H-1B,Bachelor's,NaN

In [66]:
# Got total case number counts
fy17_df2['CASE_NUMBER'].count()

97603

In [68]:
# Exported as Excel file
fy17_df2.to_excel("Resources/FY17_Data_Clean.xlsx")