In [34]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [35]:
fy15_html_path = "Resources/FY15_Data_Clean.xlsx"

fy15_df = pd.read_excel(fy15_html_path)
fy15_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-14220-96665,2015-02-03,Certified-Expired,2014-09-10,UNION PACIFIC RAILROAD,OMAHA,NEBRASKA,68179,45000.0,Attorney at Law,...,Master's,NaN,OMAHA,NEBRASKA,68154,INDIA,INDIA,H-1B,Bachelor's,NaN
1,A-14220-96720,2015-01-12,Certified-Expired,2014-08-08,VST CONSULTING INC,ISELIN,NEW JERSEY,08830,80.0,"NAIR LAW GROUP, A PROFESSIONAL CORPORATION",...,Master's,NaN,NEWARK,DELAWARE,19702,INDIA,INDIA,H-1B,Master's,NaN
2,A-14203-91167,2014-12-18,Certified-Expired,2014-07-28,GOOGLE INC.,MOUNTAIN VIEW,CALIFORNIA,94043,53861.0,Berry Appleman & Leiden LLP,...,Master's,NaN,PALO ALTO,CALIFORNIA,94306,SOUTH KOREA,SOUTH KOREA,L-1,Master's,NaN
3,A-14206-92509,2015-03-10,Certified-Expired,2014-10-19,INTEL CORPORATION,SANTA CLARA,CALIFORNIA,95052,46544.0,"Fragomen, Del Rey, Bernsen & Loewy, LLP",...,Master's,NaN,RANCHO CORDOVA,CALIFORNIA,95670,BANGLADESH,BANGLADESH,H-1B,Master's,NaN
4,A-14202-90786,2015-01-07,Certified-Expired,2014-08-25,NET ESOLUTIONS CORPORATION,MCLEAN,VIRGINIA,22102,82.0,"Law Offices of Rajiv S. Khanna, PC",...,Bachelor's,NaN,MCLEAN,VIRGINIA,2002-02-21 00:00:00,INDIA,INDIA,H-1B,Master's,NaN

In [36]:
fy16_html_path = "Resources/FY16_Data_Clean.xlsx"

fy16_df = pd.read_excel(fy16_html_path)
fy16_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-15096-64168,2015-10-01,Withdrawn,2015-05-05,"Think Primary Care, LLC",Omaha,NE,68106,54.0,Jackson Lewis PC,...,Master's,NaN,OMAHA,NE,68114,IRELAND,IRELAND,E-2,Master's,NaN
1,A-15273-23908,2015-10-01,Withdrawn,2015-10-01,Shopping & Shopping of Miami Corp,Miami,FL,33131,5.0,Green Card USA through Job Offer,...,High School,NaN,HIALEAH,FL,33015,BRAZIL,BRAZIL,C-3,High School,NaN
2,A-15063-55943,2015-10-01,Certified-Expired,2015-03-10,TEXAS BACK INSTITUTE,PLANO,TX,75093,130.0,"Law Office of Kamlesan Naidoo, PLLC",...,Master's,NaN,KANSAS CITY,MO,64114,CHINA,CHINA,H-1B,Master's,NaN
3,A-15258-17757,2015-10-01,Withdrawn,2015-10-01,"SARASOTA LAKEWOOD RANCH VENTURES, LLC",LAKEWOOD RANCH,FL,34202,6.0,NaN,...,Master's,NaN,LAKEWOOD RANCH,FL,34202,UNITED KINGDOM,UNITED KINGDOM,E-2,Master's,NaN
4,A-14212-94282,2015-10-01,Certified-Expired,2014-07-31,NATIONS INFO CORPORATION,GOLETA,CA,93117,55.0,HA & KIM Attorneys At Law PC,...,Bachelor's,NaN,WOODLAND HILLS,CA,91364,CHINA,CHINA,H-1B,Bachelor's,NaN

In [37]:
fy17_html_path = "Resources/FY17_Data_Clean.xlsx"

fy17_df = pd.read_excel(fy17_html_path)
fy17_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-16243-47818,2016-10-03,Withdrawn,2016-10-03,XAVIENT INFORMATION SYSTEMS,SIMI VALLEY,CA,93065,225.0,Global Immigration Partners,...,Master's,NaN,PLEASANT GROVE,UT,84062,INDIA,INDIA,H-1B,Bachelor's,NaN
1,A-16274-58094,2016-10-03,Withdrawn,2016-10-03,MARVELL SEMICONDUCTOR INC,SANTA CLARA,CA,95054,2000.0,"Epstein Becker & Green, P.C.",...,Master's,NaN,SAN JOSE,CA,95133,CHINA,CHINA,H-1B,Master's,NaN
2,A-16273-57601,2016-10-03,Withdrawn,2016-09-29,"MUY BRANDS, LLC",SAN ANTONIO,TX,78232,2027.0,GIBS A Professional Law Corporation,...,None,NaN,SEOUL,NaN,08634,SOUTH KOREA,SOUTH KOREA,NaN,None,NaN
3,A-16271-56548,2016-10-03,Withdrawn,2016-09-27,CORPORATE COMPUTER SERVICES INC,FARMINGTON HILLS,MI,48335,148.0,Dehai Tao P.C.,...,Master's,NaN,COPLEY,OH,44321,INDIA,INDIA,H-1B,Master's,NaN
4,A-16209-36199,2016-10-03,Withdrawn,2016-09-08,"SEVEN SEAS TECHNOLOGIES, INC.",CHESTERFIELD,MO,63005,125.0,NaN,...,Master's,NaN,DES MOINES,IA,50315,INDIA,INDIA,H-1B,Bachelor's,NaN

In [38]:
fy18_html_path = "Resources/FY18_Data_Clean.xlsx"

fy18_df = pd.read_excel(fy18_html_path)
fy18_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-17268-91243,2017-10-01,Withdrawn,2017-09-29,DATA MEANING SERVICES GROUP,CORAL SPRINGS,FL,33065,29.0,AULAKH FERGUSON,...,None,NaN,CORAL SPRINGS,FL,33065,BRAZIL,BRAZIL,H-1B,High School,NaN
1,A-17268-91198,2017-10-01,Withdrawn,2017-09-29,NOVO NORDISK INC.,PLAINSBORO,NJ,08536,5234.0,"Morgan, Lewis & Bockius LLP",...,Bachelor's,NaN,PLAINSBORO,NJ,08536,INDIA,INDIA,H-1B,Bachelor's,NaN
2,A-17275-93842,2017-10-02,Withdrawn,2017-10-02,HITACHI CONSULTING CORPORATION,DALLAS,TX,75254,1200.0,"Fragomen, Del Rey, Bernsen & Loewy, LLP",...,Master's,NaN,BEAVERTON,OR,97006,INDIA,INDIA,H-1B,Master's,NaN
3,A-17257-86988,2017-10-02,Withdrawn,2017-10-02,HITACHI CONSULTING CORPORATION,DALLAS,TX,75254,1200.0,"Fragomen, Del Rey, Bernsen & Loewy, LLP",...,Master's,NaN,BEAVERTON,OR,97006,INDIA,INDIA,H-1B,Master's,NaN
4,A-17263-89145,2017-10-02,Withdrawn,2017-10-02,FANATICS RETAIL GROUP FULFILLMENT INC DBA FANA...,JACKSONVILLE,FL,32256,5020.0,Jackson Lewis P.C.,...,Master's,NaN,SAN MATEO,CA,94401,CHINA,CHINA,H-1B,Master's,NaN

In [39]:
# Combined the two dataframes by concat (puts them on tops of one another)

frames = [fy15_df, fy16_df, fy17_df, fy18_df]
fy_combined_df = pd.concat(frames, keys=['FY15','FY16','FY17','FY18'])

fy_combined_df.head()

          CASE_NUMBER DECISION_DATE        CASE_STATUS CASE_RECEIVED_DATE  \
FY15 0  A-14220-96665    2015-02-03  Certified-Expired         2014-09-10
     1  A-14220-96720    2015-01-12  Certified-Expired         2014-08-08
     2  A-14203-91167    2014-12-18  Certified-Expired         2014-07-28
     3  A-14206-92509    2015-03-10  Certified-Expired         2014-10-19
     4  A-14202-90786    2015-01-07  Certified-Expired         2014-08-25

                     EMPLOYER_NAME  EMPLOYER_CITY EMPLOYER_STATE  \
FY15 0      UNION PACIFIC RAILROAD          OMAHA       NEBRASKA
     1          VST CONSULTING INC         ISELIN     NEW JERSEY
     2                 GOOGLE INC.  MOUNTAIN VIEW     CALIFORNIA
     3           INTEL CORPORATION    SANTA CLARA     CALIFORNIA
     4  NET ESOLUTIONS CORPORATION         MCLEAN       VIRGINIA

       EMPLOYER_POSTAL_CODE  EMPLOYER_NUM_EMPLOYEES  \
FY15 0                68179                 45000.0
     1                08830                    80.0
     2                94043                 53861.0
     3                95052                 46544.0
     4                22102                    82.0

                                   AGENT_FIRM_NAME           ...            \
FY15 0                             Attorney at Law           ...
     1  NAIR LAW GROUP, A PROFESSIONAL CORPORATION           ...
     2                 Berry Appleman & Leiden LLP           ...
     3     Fragomen, Del Rey, Bernsen & Loewy, LLP           ...
     4          Law Offices of Rajiv S. Khanna, PC           ...

       JOB_INFO_EDUCATION JOB_INFO_EDUCATION_OTHER FOREIGN_WORKER_INFO_CITY  \
FY15 0           Master's                      NaN                    OMAHA
     1           Master's                      NaN                   NEWARK
     2           Master's                      NaN                PALO ALTO
     3           Master's                      NaN           RANCHO CORDOVA
     4         Bachelor's                      NaN                   MCLEAN

       FOREIGN_WORKER_INFO_STATE  FW_INFO_POSTAL_CODE  COUNTRY_OF_CITIZENSHIP  \
FY15 0                  NEBRASKA                68154                   INDIA
     1                  DELAWARE                19702                   INDIA
     2                CALIFORNIA                94306             SOUTH KOREA
     3                CALIFORNIA                95670              BANGLADESH
     4                  VIRGINIA  2002-02-21 00:00:00                   INDIA

       FW_INFO_BIRTH_COUNTRY CLASS_OF_ADMISSION FOREIGN_WORKER_INFO_EDUCATION  \
FY15 0                 INDIA               H-1B                    Bachelor's
     1                 INDIA               H-1B                      Master's
     2           SOUTH KOREA                L-1                      Master's
     3            BANGLADESH               H-1B                      Master's
     4                 INDIA               H-1B                      Master's

       FW_INFO_EDUCATION_OTHER
FY15 0                     NaN
     1                     NaN
     2                     NaN
     3                     NaN
     4                     NaN

[5 rows x 31 columns]

In [46]:
fy_combined_df['DECISION_DATE_YEAR'] = pd.DatetimeIndex(fy_combined_df['DECISION_DATE']).year
fy_combined_df['DECISION_DATE_MONTH'] = pd.DatetimeIndex(fy_combined_df['DECISION_DATE']).month
fy_combined_df.head()

          CASE_NUMBER DECISION_DATE        CASE_STATUS CASE_RECEIVED_DATE  \
FY15 0  A-14220-96665    2015-02-03  Certified-Expired         2014-09-10
     1  A-14220-96720    2015-01-12  Certified-Expired         2014-08-08
     2  A-14203-91167    2014-12-18  Certified-Expired         2014-07-28
     3  A-14206-92509    2015-03-10  Certified-Expired         2014-10-19
     4  A-14202-90786    2015-01-07  Certified-Expired         2014-08-25

                     EMPLOYER_NAME  EMPLOYER_CITY EMPLOYER_STATE  \
FY15 0      UNION PACIFIC RAILROAD          OMAHA       NEBRASKA
     1          VST CONSULTING INC         ISELIN     NEW JERSEY
     2                 GOOGLE INC.  MOUNTAIN VIEW     CALIFORNIA
     3           INTEL CORPORATION    SANTA CLARA     CALIFORNIA
     4  NET ESOLUTIONS CORPORATION         MCLEAN       VIRGINIA

       EMPLOYER_POSTAL_CODE  EMPLOYER_NUM_EMPLOYEES  \
FY15 0                68179                 45000.0
     1                08830                    80.0
     2                94043                 53861.0
     3                95052                 46544.0
     4                22102                    82.0

                                   AGENT_FIRM_NAME         ...          \
FY15 0                             Attorney at Law         ...
     1  NAIR LAW GROUP, A PROFESSIONAL CORPORATION         ...
     2                 Berry Appleman & Leiden LLP         ...
     3     Fragomen, Del Rey, Bernsen & Loewy, LLP         ...
     4          Law Offices of Rajiv S. Khanna, PC         ...

       FOREIGN_WORKER_INFO_CITY FOREIGN_WORKER_INFO_STATE  \
FY15 0                    OMAHA                  NEBRASKA
     1                   NEWARK                  DELAWARE
     2                PALO ALTO                CALIFORNIA
     3           RANCHO CORDOVA                CALIFORNIA
     4                   MCLEAN                  VIRGINIA

        FW_INFO_POSTAL_CODE COUNTRY_OF_CITIZENSHIP  FW_INFO_BIRTH_COUNTRY  \
FY15 0                68154                  INDIA                  INDIA
     1                19702                  INDIA                  INDIA
     2                94306            SOUTH KOREA            SOUTH KOREA
     3                95670             BANGLADESH             BANGLADESH
     4  2002-02-21 00:00:00                  INDIA                  INDIA

        CLASS_OF_ADMISSION FOREIGN_WORKER_INFO_EDUCATION  \
FY15 0                H-1B                    Bachelor's
     1                H-1B                      Master's
     2                 L-1                      Master's
     3                H-1B                      Master's
     4                H-1B                      Master's

       FW_INFO_EDUCATION_OTHER DECISION_DATE_YEAR DECISION_DATE_MONTH
FY15 0                     NaN               2015                   2
     1                     NaN               2015                   1
     2                     NaN               2014                  12
     3                     NaN               2015                   3
     4                     NaN               2015                   1

[5 rows x 33 columns]

In [54]:
fy_combined_df['CASE_RECEIVED_DATE_YEAR'] = pd.DatetimeIndex(fy_combined_df['CASE_RECEIVED_DATE']).year
fy_combined_df['CASE_RECEIVED_DATE_MONTH'] = pd.DatetimeIndex(fy_combined_df['CASE_RECEIVED_DATE']).month
fy_combined_df.head()

          CASE_NUMBER DECISION_DATE        CASE_STATUS CASE_RECEIVED_DATE  \
FY15 0  A-14220-96665    2015-02-03  Certified-Expired         2014-09-10
     1  A-14220-96720    2015-01-12  Certified-Expired         2014-08-08
     2  A-14203-91167    2014-12-18  Certified-Expired         2014-07-28
     3  A-14206-92509    2015-03-10  Certified-Expired         2014-10-19
     4  A-14202-90786    2015-01-07  Certified-Expired         2014-08-25

                     EMPLOYER_NAME  EMPLOYER_CITY EMPLOYER_STATE  \
FY15 0      UNION PACIFIC RAILROAD          OMAHA       NEBRASKA
     1          VST CONSULTING INC         ISELIN     NEW JERSEY
     2                 GOOGLE INC.  MOUNTAIN VIEW     CALIFORNIA
     3           INTEL CORPORATION    SANTA CLARA     CALIFORNIA
     4  NET ESOLUTIONS CORPORATION         MCLEAN       VIRGINIA

       EMPLOYER_POSTAL_CODE  EMPLOYER_NUM_EMPLOYEES  \
FY15 0                68179                 45000.0
     1                08830                    80.0
     2                94043                 53861.0
     3                95052                 46544.0
     4                22102                    82.0

                                   AGENT_FIRM_NAME           ...             \
FY15 0                             Attorney at Law           ...
     1  NAIR LAW GROUP, A PROFESSIONAL CORPORATION           ...
     2                 Berry Appleman & Leiden LLP           ...
     3     Fragomen, Del Rey, Bernsen & Loewy, LLP           ...
     4          Law Offices of Rajiv S. Khanna, PC           ...

        FW_INFO_POSTAL_CODE COUNTRY_OF_CITIZENSHIP FW_INFO_BIRTH_COUNTRY  \
FY15 0                68154                  INDIA                 INDIA
     1                19702                  INDIA                 INDIA
     2                94306            SOUTH KOREA           SOUTH KOREA
     3                95670             BANGLADESH            BANGLADESH
     4  2002-02-21 00:00:00                  INDIA                 INDIA

       CLASS_OF_ADMISSION  FOREIGN_WORKER_INFO_EDUCATION  \
FY15 0               H-1B                     Bachelor's
     1               H-1B                       Master's
     2                L-1                       Master's
     3               H-1B                       Master's
     4               H-1B                       Master's

        FW_INFO_EDUCATION_OTHER DECISION_DATE_YEAR DECISION_DATE_MONTH  \
FY15 0                      NaN               2015                   2
     1                      NaN               2015                   1
     2                      NaN               2014                  12
     3                      NaN               2015                   3
     4                      NaN               2015                   1

       CASE_RECEIVED_DATE_YEAR CASE_RECEIVED_DATE_MONTH
FY15 0                  2014.0                      9.0
     1                  2014.0                      8.0
     2                  2014.0                      7.0
     3                  2014.0                     10.0
     4                  2014.0                      8.0

[5 rows x 35 columns]

In [55]:
fy_combined_df['CASE_NUMBER'].count()

432819

In [56]:
# made sure float types were still there
fy_combined_df.dtypes

CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
DECISION_DATE_YEAR                        int64
DECISION_DATE_MONTH                       int64
CASE_RECEIVED_DATE_YEAR                 float64
CASE_RECEIVED_DATE_MONTH                float64
dtype: object

In [42]:
# exported as excel and CSV
fy_combined_df.to_excel("Resources/FY_CombinedData_Clean.xlsx")

In [43]:
fy_combined_df.to_csv("Resources/FY_CombinedData_Clean.csv")

In [57]:
connection_string = "postgres:postgres@localhost:5432/ETL_Combined"
engine = create_engine(f'postgresql://{connection_string}')

In [59]:
fy_combined_df.to_sql(name='fy_combined', con=engine, if_exists='append', index=True)