In [1]:
import pandas as pd
import numpy as np

In [2]:
fy18_html_path = "Resources/FY18_Data.xlsx"

fy18_df = pd.read_excel(fy18_html_path)
fy18_df.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,REFILE,ORIG_FILE_DATE,ORIG_CASE_NO,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FW_INFO_TRAINING_COMP,FW_INFO_REQ_EXPERIENCE,FW_INFO_ALT_EDU_EXPERIENCE,FW_INFO_REL_OCCUP_EXP,PREPARER_INFO_EMP_COMPLETED,PREPARER_INFO_TITLE,EMPLOYER_DECL_INFO_TITLE,NAICS_US_CODE,NAICS_US_TITLE,PW_Job_Title_9089
0,A-17268-91243,2017-10-01,Withdrawn,2017-09-29,N,NaT,NaN,N,DATA MEANING SERVICES GROUP,3301 NORTH UNIVERSITY DRIVE,...,A,Y,A,A,N,Counsel,Human Capital Manager,541511,Custom Computer Programming Services,Web Architect
1,A-17268-91198,2017-10-01,Withdrawn,2017-09-29,N,NaT,NaN,N,NOVO NORDISK INC.,800 SCUDDERS MILL ROAD,...,A,A,A,Y,N,Partner,"Associate Director, Mobility - Human Resources",325412,Pharmaceutical Preparation Manufacturing,Senior Systems Analyst
2,A-17275-93842,2017-10-02,Withdrawn,2017-10-02,N,NaT,NaN,N,HITACHI CONSULTING CORPORATION,14643 DALLAS PARKWAY,...,A,A,N,Y,N,Of Counsel,"Director, Global Immigration Services",541512,Computer Systems Design Services,Computer Systems Analysts
3,A-17257-86988,2017-10-02,Withdrawn,2017-10-02,N,NaT,NaN,N,HITACHI CONSULTING CORPORATION,14643 DALLAS PARKWAY,...,A,A,N,Y,N,Of Counsel,"Director, Global Immigration Services",541512,Computer Systems Design Services,Computer Systems Analysts
4,A-17263-89145,2017-10-02,Withdrawn,2017-10-02,N,NaT,NaN,N,FANATICS RETAIL GROUP FULFILLMENT INC DBA FANA...,8100 NATIONS WAY,...,A,N,N,Y,N,Attorney,Director of Talent Acquisition,45411,Electronic Shopping and Mail-Order Houses,Statisticians

In [3]:
fy18_df['COUNTRY_OF_CITIZENSHIP'].unique()

array(['BRAZIL', 'INDIA', 'CHINA', 'UKRAINE', 'TAIWAN', 'SPAIN',
       'VENEZUELA', 'ITALY', 'UNITED KINGDOM', 'SOUTH KOREA', 'MALAYSIA',
       'COSTA RICA', 'FRANCE', 'AUSTRALIA', 'ARGENTINA', 'PAKISTAN',
       'CANADA', 'PHILIPPINES', 'IRELAND', 'GERMANY', 'MEXICO', 'RUSSIA',
       'NEPAL', 'BELGIUM', 'BARBADOS', 'SOUTH AFRICA', 'HONG KONG',
       'DOMINICAN REPUBLIC', 'NETHERLANDS', 'LEBANON', 'GUATEMALA',
       'IRAN', 'EGYPT', 'DENMARK', 'EL SALVADOR', 'JAPAN', 'ROMANIA',
       'ISRAEL', 'SWEDEN', 'SENEGAL', 'THAILAND', 'FINLAND', 'BANGLADESH',
       'SINGAPORE', 'SERBIA AND MONTENEGRO', 'VIETNAM', 'JAMAICA',
       'POLAND', 'BOLIVIA', 'JORDAN', 'INDONESIA', 'CHILE', 'TURKEY',
       'MONGOLIA', 'UZBEKISTAN', 'HONDURAS', 'PERU', 'SYRIA', 'SLOVAKIA',
       'COLOMBIA', 'NICARAGUA', 'UNITED STATES OF AMERICA', 'URUGUAY',
       'BULGARIA', 'TRINIDAD AND TOBAGO', 'CYPRUS', 'AUSTRIA', 'PARAGUAY',
       'MONTENEGRO', 'GHANA', 'GREECE', 'ECUADOR', 'TURKMENISTAN',
       'ARMENIA', 'SRI LANKA', 'KENYA', 'BELARUS', 'HUNGARY', 'SUDAN',
       'ETHIOPIA', 'GRENADA', 'SERBIA', 'CROATIA', 'FIJI', 'CUBA',
       'KAZAKHSTAN', 'NEW ZEALAND', 'PORTUGAL', 'NIGERIA', 'KYRGYZSTAN',
       'CAMBODIA', 'KOSOVO', 'AZERBAIJAN', 'YEMEN', 'LIBYA', 'LITHUANIA',
       'CZECH REPUBLIC', 'SAUDI ARABIA', 'SWAZILAND', 'UGANDA', 'MOLDOVA',
       'SWITZERLAND', 'ALBANIA', 'MACEDONIA', 'BURMA (MYANMAR)', 'HAITI',
       'GEORGIA', 'NORWAY', 'MOROCCO', 'NAMIBIA', 'GUYANA', 'KUWAIT',
       'PALESTINE', 'SLOVENIA', 'ZIMBABWE', 'IRAQ',
       'BOSNIA AND HERZEGOVINA', 'MAURITIUS', 'LATVIA', 'BENIN', 'TOGO',
       'AFGHANISTAN', 'MACAU', 'CAMEROON', 'BAHRAIN', 'SAMOA', 'ESTONIA',
       'ALGERIA', 'TUNISIA', 'BAHAMAS', 'MALAWI', 'ICELAND',
       'IVORY COAST', 'PANAMA', 'TAJIKISTAN',
       'SAINT VINCENT AND THE GRENADINES', 'BERMUDA', 'BURKINA FASO',
       'GABON', 'SOUTH SUDAN', 'DOMINICA', 'SURINAME', 'SOMALIA',
       'ZAMBIA', 'MALI', 'ARUBA', 'MOZAMBIQUE', 'TANZANIA', 'RWANDA',
       'ANGOLA', 'MADAGASCAR', 'UNITED ARAB EMIRATES', 'ST LUCIA',
       'DEPENDANT TERRITORY', 'BELIZE', 'MALTA', 'CAPE VERDE', nan,
       'MONACO', 'MAURITANIA', 'DEMOCRATIC REPUBLIC OF CONGO',
       'LUXEMBOURG', 'PALESTINIAN TERRITORIES', 'ANTIGUA AND BARBUDA',
       'BOTSWANA', 'VANUATU', 'ST KITTS AND NEVIS', 'REPUBLIC OF CONGO',
       'OMAN', 'LAOS', 'SIERRA LEONE', 'ST VINCENT', 'BHUTAN', 'GUINEA',
       'LIECHTENSTEIN', 'GUINEA-BISSAU', 'GAMBIA', 'LIBERIA',
       "COTE d'IVOIRE", 'TURKS AND CAICOS ISLANDS', 'MALDIVES', 'COMOROS',
       'BRITISH VIRGIN ISLANDS', 'SEYCHELLES', 'MONTSERRAT'], dtype=object)

In [13]:
fy18_df.columns

Index(['CASE_NUMBER', 'DECISION_DATE', 'CASE_STATUS', 'CASE_RECEIVED_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'ORIG_CASE_NO', 'SCHD_A_SHEEPHERDER',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FW_INFO_TRAINING_COMP', 'FW_INFO_REQ_EXPERIENCE',
       'FW_INFO_ALT_EDU_EXPERIENCE', 'FW_INFO_REL_OCCUP_EXP',
       'PREPARER_INFO_EMP_COMPLETED', 'PREPARER_INFO_TITLE',
       'EMPLOYER_DECL_INFO_TITLE', 'NAICS_US_CODE', 'NAICS_US_TITLE',
       'PW_Job_Title_9089'],
      dtype='object', length=125)

In [14]:
fy18_df2 = fy18_df[['CASE_NUMBER','DECISION_DATE','CASE_STATUS','CASE_RECEIVED_DATE','EMPLOYER_NAME','EMPLOYER_CITY',
                   'EMPLOYER_STATE','EMPLOYER_POSTAL_CODE','EMPLOYER_NUM_EMPLOYEES','AGENT_FIRM_NAME','AGENT_CITY',
                   'AGENT_STATE','PW_SOC_CODE','PW_SOC_TITLE','PW_AMOUNT_9089','WAGE_OFFER_FROM_9089','WAGE_OFFER_UNIT_OF_PAY_9089',
                   'JOB_INFO_WORK_CITY','JOB_INFO_WORK_STATE','JOB_INFO_WORK_POSTAL_CODE','JOB_INFO_JOB_TITLE',
                   'JOB_INFO_EDUCATION','JOB_INFO_EDUCATION_OTHER','FOREIGN_WORKER_INFO_CITY','FOREIGN_WORKER_INFO_STATE',
                   'FW_INFO_POSTAL_CODE','COUNTRY_OF_CITIZENSHIP','FW_INFO_BIRTH_COUNTRY','CLASS_OF_ADMISSION','FOREIGN_WORKER_INFO_EDUCATION','FW_INFO_EDUCATION_OTHER']]

fy18_df2.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-17268-91243,2017-10-01,Withdrawn,2017-09-29,DATA MEANING SERVICES GROUP,CORAL SPRINGS,FL,33065,29.0,AULAKH FERGUSON,...,None,NaN,CORAL SPRINGS,FL,33065,BRAZIL,BRAZIL,H-1B,High School,NaN
1,A-17268-91198,2017-10-01,Withdrawn,2017-09-29,NOVO NORDISK INC.,PLAINSBORO,NJ,08536,5234.0,"Morgan, Lewis & Bockius LLP",...,Bachelor's,NaN,PLAINSBORO,NJ,08536,INDIA,INDIA,H-1B,Bachelor's,NaN
2,A-17275-93842,2017-10-02,Withdrawn,2017-10-02,HITACHI CONSULTING CORPORATION,DALLAS,TX,75254,1200.0,"Fragomen, Del Rey, Bernsen & Loewy, LLP",...,Master's,NaN,BEAVERTON,OR,97006,INDIA,INDIA,H-1B,Master's,NaN
3,A-17257-86988,2017-10-02,Withdrawn,2017-10-02,HITACHI CONSULTING CORPORATION,DALLAS,TX,75254,1200.0,"Fragomen, Del Rey, Bernsen & Loewy, LLP",...,Master's,NaN,BEAVERTON,OR,97006,INDIA,INDIA,H-1B,Master's,NaN
4,A-17263-89145,2017-10-02,Withdrawn,2017-10-02,FANATICS RETAIL GROUP FULFILLMENT INC DBA FANA...,JACKSONVILLE,FL,32256,5020.0,Jackson Lewis P.C.,...,Master's,NaN,SAN MATEO,CA,94401,CHINA,CHINA,H-1B,Master's,NaN

In [15]:
fy18_df2.dtypes

CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                           object
WAGE_OFFER_FROM_9089                     object
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
dtype: object

In [16]:
cols = ['PW_AMOUNT_9089','WAGE_OFFER_FROM_9089']

fy18_df2[cols] = fy18_df2[cols].replace({',': ''}, regex=True)

In [17]:
fy18_df2['PW_AMOUNT_9089'] = pd.to_numeric(fy18_df2['PW_AMOUNT_9089'])
fy18_df2['WAGE_OFFER_FROM_9089'] = pd.to_numeric(fy18_df2['WAGE_OFFER_FROM_9089'])

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
fy18_df2.dtypes

CASE_NUMBER                              object
DECISION_DATE                    datetime64[ns]
CASE_STATUS                              object
CASE_RECEIVED_DATE               datetime64[ns]
EMPLOYER_NAME                            object
EMPLOYER_CITY                            object
EMPLOYER_STATE                           object
EMPLOYER_POSTAL_CODE                     object
EMPLOYER_NUM_EMPLOYEES                  float64
AGENT_FIRM_NAME                          object
AGENT_CITY                               object
AGENT_STATE                              object
PW_SOC_CODE                              object
PW_SOC_TITLE                             object
PW_AMOUNT_9089                          float64
WAGE_OFFER_FROM_9089                    float64
WAGE_OFFER_UNIT_OF_PAY_9089              object
JOB_INFO_WORK_CITY                       object
JOB_INFO_WORK_STATE                      object
JOB_INFO_WORK_POSTAL_CODE                object
JOB_INFO_JOB_TITLE                       object
JOB_INFO_EDUCATION                       object
JOB_INFO_EDUCATION_OTHER                 object
FOREIGN_WORKER_INFO_CITY                 object
FOREIGN_WORKER_INFO_STATE                object
FW_INFO_POSTAL_CODE                      object
COUNTRY_OF_CITIZENSHIP                   object
FW_INFO_BIRTH_COUNTRY                    object
CLASS_OF_ADMISSION                       object
FOREIGN_WORKER_INFO_EDUCATION            object
FW_INFO_EDUCATION_OTHER                  object
dtype: object

In [19]:
fy18_df2.head()

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_NUM_EMPLOYEES,AGENT_FIRM_NAME,...,JOB_INFO_EDUCATION,JOB_INFO_EDUCATION_OTHER,FOREIGN_WORKER_INFO_CITY,FOREIGN_WORKER_INFO_STATE,FW_INFO_POSTAL_CODE,COUNTRY_OF_CITIZENSHIP,FW_INFO_BIRTH_COUNTRY,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,FW_INFO_EDUCATION_OTHER
0,A-17268-91243,2017-10-01,Withdrawn,2017-09-29,DATA MEANING SERVICES GROUP,CORAL SPRINGS,FL,33065,29.0,AULAKH FERGUSON,...,None,NaN,CORAL SPRINGS,FL,33065,BRAZIL,BRAZIL,H-1B,High School,NaN
1,A-17268-91198,2017-10-01,Withdrawn,2017-09-29,NOVO NORDISK INC.,PLAINSBORO,NJ,08536,5234.0,"Morgan, Lewis & Bockius LLP",...,Bachelor's,NaN,PLAINSBORO,NJ,08536,INDIA,INDIA,H-1B,Bachelor's,NaN
2,A-17275-93842,2017-10-02,Withdrawn,2017-10-02,HITACHI CONSULTING CORPORATION,DALLAS,TX,75254,1200.0,"Fragomen, Del Rey, Bernsen & Loewy, LLP",...,Master's,NaN,BEAVERTON,OR,97006,INDIA,INDIA,H-1B,Master's,NaN
3,A-17257-86988,2017-10-02,Withdrawn,2017-10-02,HITACHI CONSULTING CORPORATION,DALLAS,TX,75254,1200.0,"Fragomen, Del Rey, Bernsen & Loewy, LLP",...,Master's,NaN,BEAVERTON,OR,97006,INDIA,INDIA,H-1B,Master's,NaN
4,A-17263-89145,2017-10-02,Withdrawn,2017-10-02,FANATICS RETAIL GROUP FULFILLMENT INC DBA FANA...,JACKSONVILLE,FL,32256,5020.0,Jackson Lewis P.C.,...,Master's,NaN,SAN MATEO,CA,94401,CHINA,CHINA,H-1B,Master's,NaN

In [20]:
fy18_df2['CASE_NUMBER'].count()

119776

In [21]:
fy18_df2.to_excel("Resources/FY18_Data_Clean.xlsx")